@media screen and (min-width: 769px)

   #intro
      width: 70%
      margin: 0 auto
      padding: 50px 0
      text-align: center

   .container
      width: 80%
      margin: 0 auto !important
      padding: 0

   .secondary
      display: flex
      flex-direction: row
      flex-wrap: wrap
      align-items: center
      justify-content: space-between
      padding: 25px 0

   .col
      flex: 1 0 50px

   .visit
      margin: 0
      padding-right: 25px
      order: -1

   .tips
      align-self: flex-start
      padding-left: 25px
