.primary
   padding: 25px 50px
   margin: 0 auto
   max-width: 960px
   text-align: center
   width: 90%

#intro
   font-size: 1.25em
   line-height: 1.3
   text-align: justify

.find-more
   font-size: 1.4em
   border-bottom: 2px solid
   padding: 0 9px 3px
   display: inline-block
   margin-top: 20px

.secondary
   padding: 25px 25px 50px
   max-width: 960px
   margin: 0 auto

.tips
   h3
      font-size: 1.5em

   ol
      font-size: 1.2em

      li
         margin-bottom: 12px


.visit
   margin-top: 100px

   h3
      font-size: 1.5em

   p
      font-size: 1.2em
      text-align: justify
      padding-bottom: 5px

   h4
      font-size: 1.2em
      margin-bottom: 0
      margin-left: 15px

   ul
      font-size: 1.2em
      margin-left: 15px

      li
         margin-bottom: 12px
