header
   background: linear-gradient(#8bb3f4, transparent 70%), linear-gradient(0deg, #fff, transparent), #8bb3f4 url(../img/header.jpg) no-repeat center
   background-size: cover
   height: 850px
   padding-top: 160px

.main-header
   text-align: center

span
   font-size: 2em
   color: #fff
   letter-spacing: 0.3em
   font-weight: 700
   padding-bottom: 10px
   border-bottom: 2px solid
   line-height: 1.7
   text-shadow: 2px 3px 0 rgba(0, 0, 0, .2)

h1
   font-size: 5.5em
   color: #fff
   text-shadow: 5px 8px 0 rgba(0, 0, 0, .4)
   line-height: 1.3
   margin:  15px 0 0
