/* Imports */
@import "header"
@import "content"
@import "footer"
@import "breakpoints"

/* General styles */
*
   box-sizing: border-box

body
   font-family: 'Fira Sans', sans-serif
   color: #878787
   margin: 0

.container
   max-width: 960px
   width: 80%
   margin: 0 auto
   padding: auto 50px

.content-border
   border-top: 1px solid #bdbdbd

img
   max-width: 100%
   border-radius: 25px
   margin-top: 15px
   margin-bottom: 20px

a:link
   color: #8bb3f4
   text-decoration: none

a:hover
   color: rgba(139, 179, 244, .5)

a:visited
   color: #8bb3f4
